extends baseEmail

block content
  p Xin chào #{firstName}, đây là thư từ gamer Thời BÁO!
  p Bạn quên mất mật khẩu? Hãy gửi một PATCH request với body là Password và ConfirmPassword đến địa chỉ này nhé!
  p #{url}
  br
  p Còn dưới đây là đổi mật khẩu với giao diện.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Đặt lại mật khẩu
  p Nếu bạn không quên mật khẩu, hãy bỏ qua email này!
