.bigCard.cardBg
            .badge
              span.icon(aria-hidden='true' style='width:24px;height:24px;line-height:24px')
                svg(viewbox='0 0 24 24' fill='none')
                  path(d='M12.91 0L21 22h-3.893c-1.697-3.478-3.183-4.725-5.258-4.725-2.076 0-3.56 1.247-5.243 4.725H3l8.092-22h1.817zm2.136 16.74l-3.167-8.856-3.227 8.855c1.182-.42 2.287-.594 3.227-.594.925 0 2 .174 3.167.594z' fill='#BA8A63')
            .bigCardTitle
              h3.cut-text-big Welcome to aki RiotX Arcane
              p.category Giới thiệu



li
a.newsArticleCard(href='./newspostview.html')
.cardTitle
  h3.cut-text Call an Emergency Meeting - Arcane is Coming to Among Us
  p.category Cốt truyện
.cardImage(style='background-image:url(https://www.riotgames.com/darkroom/500/5df13feb341e9948a7dfd45cc2ad2a99:e88ad137c154c64d2070615e97aea5e2/riotx-arcane-among-us.png)')
  .badge.bageItems
    span.icon(aria-hidden='true' style='width:24px;height:24px;line-height:24px')
      svg(viewbox='0 0 24 24' fill='none')
        path(d='M12.91 0L21 22h-3.893c-1.697-3.478-3.183-4.725-5.258-4.725-2.076 0-3.56 1.247-5.243 4.725H3l8.092-22h1.817zm2.136 16.74l-3.167-8.856-3.227 8.855c1.182-.42 2.287-.594 3.227-.594.925 0 2 .174 3.167.594z' fill='#BA8A63')